body {
  /* background: #f2f6fa; */
  background: #333745;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

.logo {
  max-width: 100%;
  height: auto;
  max-height: 55px;
}

.dropdown-menu {
  right: 0% !important;
  left: auto;
}

.overflow {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.overflow > div {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  max-width: 100%;
}

.dropdown-item {
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar {
  /* background-color: #403F57 !important; */
  background-color: #333745 !important;
}

.white-text {
  color: white;
}

.white-background {
  background: white;
}

.btn-blue {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

/*.btn {
  text-transform: uppercase;
}*/

.text-muted {
  font-size: 90%;
}

.badge {
  font-size: 90%;
}

.badge-success {
  /* background-color: #3ecf8e; */
}

.news {
  text-overflow: ellipsis;
  max-width: 100ch;
}

.nav-link {
  padding: 0rem 0.8rem !important;
}

.nav-link.active {
  color: #007bff !important;
}

.nav-link.range {
  cursor: pointer;
  color: #6c757d;
}

.nav-link.range:hover {
  color: #007bff;
}

.btn {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.025em;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  transition: all 150ms ease;
}

.btn:hover {
  /*transform: translateY(-1px);*/
}

.btn.btn-success {
  background-color: #3ecf8e !important;
  border: none;
}

.btn.btn-primary {
  background: #403F57;
  /*text-transform: uppercase;*/
  color: #fff;
  border: none;
}

.mts {
  margin-top: 20px;
}

.mtxs {
  margin-top: 5px;
}

.navbar-collapse {
  flex-grow: 0;
}

.mtm {
  margin-top: 40px;
}

.mtl {
  margin-top: 100px;
}

.mm {
  margin: 20px;
}

.mvs {
  margin: 15px 0px;
}

.mbm {
  margin-bottom: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.mbs {
  margin-bottom: 10px;
}

.ms {
  margin: 10px;
}

.mls {
  margin-left: 10px
}

.bold {
  font-weight: bold;
}

.pull-right {
  float: right;
}

.card {
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease;
}
.shadow-lg {
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.shadow-md {
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.shadow-sm {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.error {
  color: red;
}

.alert {
  color: #000;
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.10), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.alert-danger {
  background-color: #fff8f5;
}

.alert-success {
  background-color: #efffed;
}

.alert-warning {
  background-color: #fcf9e9;
}

.green {
 color: #29A745;
}

.red {
  color: #DC3545;
}

.neutral {
  color: #6C757D;
}

/* styles for watchlist change amount */
.green-background {
 background-color: #29A745;
}

.red-background {
  background-color: #DC3545;
}

.neutral-background {
  background-color: #6C757D;
}

.daily-change-watchlist {
  color: #FFF;
  border-radius: 5px;
  padding: 2px 10px;
}


.search {
  position: relative;
}

.search .form-control-sm {
  padding-left: 2.375rem;
}

/* search bar style */
.search .form-control {
    padding-left: 2.375rem;
}

.search .form-control-feedback {
    position: absolute;
    z-index: 2;
    /*display: block;*/
    width: 2.375rem;
    height: 2.375rem;
    /*line-height: 2.375rem;*/
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.watchlist {
  /*border-style: solid;
  border-color: #007bff;
  border-radius: 15px;
  border-width: 1px;
  padding: 3px 6px;*/
  /*font-size: 70%;*/
  font-size: 22px;
}

.watchlist-card {
  padding: 1rem 1.25rem
}

.login-link {
  color: #FFF;
}

.login-link:hover {
  color: #FFF;
}

/* Watchlist */
.watchlist-load {
  font-size: 25px;
}

.news-image {
  background-position: 50% center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100%;
  /*height: 100%;*/
  border-radius: 0.1875rem;
}

a:hover .news.text-muted {
  color: #000 !important;
}
